body {
  background-image: url("images/background.jpg");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto;
  margin: 0;
}

div {
  margin: 2rem 5rem;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.logo {
  background: none;
  text-shadow: 0px 0px 15rem #000, 0px 0px 8rem #000, 0px 0px 1rem #fff;
  font-size: 15rem;
  margin: 8rem 0rem 20rem 0rem;
  padding: 0rem 0rem;
}

.index {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: x-large;
}

.navbar a:hover {
  color: rgb(159, 108, 255);
}

.navbar .selected {
  color: rgba(255, 255, 255, 0.8);
}

.featured {
  height: 28rem;
}

.recent_posts {
  height: 20rem;
}

h1 {
  color: white;
}

.posts {
  background-color: rgba(0, 0, 0, 0.9);
}

#posts-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.post {
  margin: 0 0;
  width: auto;
  padding: 0 0;
  background-position: center;
  background-size: cover;
}

.post img {
  object-fit: cover;
}
